.rTitle {
    position: relative;
    bottom: 80px;
    font-size: 30pt;
    color: var(--bootstrap-primary-blue);
}
 
.resultsDiv {
    padding-left: 30px;
    padding-right: 30px;
}

.rImg {
    width: 120px;
    height: 120px;
}

.rItems, .rPercentage {
    padding-top: 30px;
    font-size: 24pt;
}

.rPercentage {
    color: var(--bootstrap-red);
}

.rRow {
    background: white;
    border-radius: 20px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
} 