.candidate-img {
    height: 225px;
    width: 225px;
}
.card {
    border: 25px solid var(--bootstrap-primary-blue);
    border-radius: 25px;
    width: 100%;
    /* background-image: linear-gradient(to bottom right, var(--light-red),var(--light-blue)); */
    padding: 10px;
   
}

div.card.candidate-card.p-0 {
    border-radius: 10px;
}

.p-size {
    font-size: medium;
    margin: 5px;
    padding: 10px;
    line-height: 150%;
}

.ul-size {
    font-size: 14pt;
}

.candidateLinks {
    text-align: left;
    margin: 15px;
}

a.card-link {
    background: var(--medium-white);
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--light-blue);
    font-weight: 600;
}