.banner {
    width: 100%;
}

.banner-img {

    width: 100%;
}

.hello {
    border-radius: 25px;
    border: thin solid var(--light-blue);    
    background-image: linear-gradient(to top left, var(--medium-blue),var(--light-blue));
    padding: 10px;
    background-color: var(--bright-red);
    margin-top: 20px;
}